.flex-column-container-integration {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid-container {
    display: grid;
    grid-template-columns: 16px auto auto; /* Set specific widths to each column */
    gap: 15px;
    align-items: center;
    justify-items: start; /* Align content to the left within the grid cells */
    margin-bottom: 24px;
}

.grid-container > div {
    display: flex;
    align-items: center; /* Align content vertically in each column */
}

.name-cell {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    margin-left: 8px;
    min-width: 190px; /* Set a minimum width for the cells containing the integration names */
}

.category-title {
    color: rgba(24, 28, 48, 0.48);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 20px;
}